.card {
  border: none;
}
.card-body {
  /* border: 1px solid red !important; */
  border-radius: 20px;
  box-shadow: 0 2rem 3rem #848bc82e;
  transition: all 0.5s;
}
.card-body:hover {
  background-color: aliceblue;
  box-shadow: none;
}
.card-body span {
  color: white;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.sales span {
  background-color: #7380ec;
}
.income span {
  background-color: #41f1b6;
}
.expense span {
  background-color: #ff7782;
}
.card-body h1 {
  margin-left: 10px;
}
.container {
  position: relative;
  top: -40rem;
  width: 82%;
  left: 7rem;
}
.chart {
 /* border: 1px solid red; */
  height: 50vh;
  width: 80%;
  margin: 20px 5rem;
}
.chartPart {
  margin: 10px 10px;
  /* border: 1px solid red !important; */
  font-family: sans-serif;
  width: 100%;
}
.chartPart span {
  color: #7380ec;
}

@media screen and (max-width: 350px) {
  .card {
    width: 135%;
  }
  .container {
    top: 10px;
    left: 5px;
  }
  h5 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3{
    font-size: 30px;
    text-align: center;
  }
  .chartPart {
    width: 25rem;
    height: 50vh;
    position: relative;
    left: -2rem;
  }
  .chart {
    width: 120%;
    height: 30vh;
    margin: 20px 0px;
  }
}
